# SQL 362 - Project 1
# Analyzing CSV data in Pandas
# Michael Hernandez

Part 1, creating the CSV file.

I built a SQL DB to export out the data to a data.csv file that I've exported to the same folder as my notebook.  The first part of the program is importing that data into a dataframe:

In [1]:
import pandas as pd

data = pd.read_csv('data.csv', index_col='Airline')
print(data)

                  City  On_time  Delayed
Airline
Alaska     Los Angeles      497       62
Alaska         Phoenix      221       12
Alaska       San Diego      212       20
Alaska   San Francisco      503      102
Alaska         Seattle     1841      305
AM West    Los Angeles      694      117
AM West        Phoenix     4840      415
AM West      San Diego      383       65
AM West  San Francisco      320      129
AM West        Seattle      201       61

Good, we have the data imported into a dataframe.  Now I want to insert some extra fields to calculate both the total flights, and also a % delayed column.

In [2]:
workingData = data.copy()
workingData.insert(3, 'Total_Time', data.On_time + data.Delayed)
workingData.insert(4, 'Percent_Delayed_Flights', (data.Delayed / workingData.Total_Time))
print(workingData)

                  City  On_time  Delayed  Total_Time  Percent_Delayed_Flights
Airline
Alaska     Los Angeles      497       62         559                 0.110912
Alaska         Phoenix      221       12         233                 0.051502
Alaska       San Diego      212       20         232                 0.086207
Alaska   San Francisco      503      102         605                 0.168595
Alaska         Seattle     1841      305        2146                 0.142125
AM West    Los Angeles      694      117         811                 0.144266
AM West        Phoenix     4840      415        5255                 0.078972
AM West      San Diego      383       65         448                 0.145089
AM West  San Francisco      320      129         449                 0.287305
AM West        Seattle      201       61         262                 0.232824

Let's format the Percent Delayed flights column so it looks a little more readable.

In [3]:
pd.options.display.float_format = '{:.2f}%'.format
print(workingData)

                  City  On_time  Delayed  Total_Time  Percent_Delayed_Flights
Airline
Alaska     Los Angeles      497       62         559                    0.11%
Alaska         Phoenix      221       12         233                    0.05%
Alaska       San Diego      212       20         232                    0.09%
Alaska   San Francisco      503      102         605                    0.17%
Alaska         Seattle     1841      305        2146                    0.14%
AM West    Los Angeles      694      117         811                    0.14%
AM West        Phoenix     4840      415        5255                    0.08%
AM West      San Diego      383       65         448                    0.15%
AM West  San Francisco      320      129         449                    0.29%
AM West        Seattle      201       61         262                    0.23%

Much more readable.  Now that we have all of this extra data, we can start to do some meaningful comparisons.  Let's see which Airline has the lowest percentage of delayed flights to Los Angeles:

In [4]:
workingData.loc[workingData['City']=='Los Angeles']

                City  On_time  Delayed  Total_Time  Percent_Delayed_Flights
Airline
Alaska   Los Angeles      497       62         559                    0.11%
AM West  Los Angeles      694      117         811                    0.14%

Now, let's see how many Airline/City combinations have over 20% of their flights delayed:

In [5]:
workingData.loc[workingData['Percent_Delayed_Flights'] > .20]

'Alaska'

It looks like AM West has some of the Highest Average delayed flights.
How about we find out what is the least delayed flight?  
To do that, I'm going to re-index the dataframe around the Percent_Delayed_Flights series:

In [6]:
workingData.set_index('Percent_Delayed_Flights', append=True)

                                          City  On_time  Delayed  Total_Time
Airline Percent_Delayed_Flights
Alaska  0.11%                      Los Angeles      497       62         559
        0.05%                          Phoenix      221       12         233
        0.09%                        San Diego      212       20         232
        0.17%                    San Francisco      503      102         605
        0.14%                          Seattle     1841      305        2146
AM West 0.14%                      Los Angeles      694      117         811
        0.08%                          Phoenix     4840      415        5255
        0.15%                        San Diego      383       65         448
        0.29%                    San Francisco      320      129         449
        0.23%                          Seattle      201       61         262

Now, when we run a min on the dataframe, we're going to pull the full data of the lowest Percent_Delayed_Flights item, in our case it's exactly what we are looking for:

In [7]:
workingData['Percent_Delayed_Flights'].idxmin()

'Alaska'

Alaska Air has the least % of delayed flights overall.